<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Core">
            <directory suffix="Test.php">./Modules/Core/Tests</directory>
        </testsuite>
        <testsuite name="Tenancy">
            <directory suffix="Test.php">./Modules/Tenancy/Tests</directory>
        </testsuite>
        <testsuite name="IAM">
            <directory suffix="Test.php">./Modules/IAM/Tests</directory>
        </testsuite>
        <testsuite name="Sales">
            <directory suffix="Test.php">./Modules/Sales/Tests</directory>
        </testsuite>
        <testsuite name="Inventory">
            <directory suffix="Test.php">./Modules/Inventory/Tests</directory>
        </testsuite>
        <testsuite name="Accounting">
            <directory suffix="Test.php">./Modules/Accounting/Tests</directory>
        </testsuite>
        <testsuite name="HR">
            <directory suffix="Test.php">./Modules/HR/Tests</directory>
        </testsuite>
        <testsuite name="Procurement">
            <directory suffix="Test.php">./Modules/Procurement/Tests</directory>
        </testsuite>
        <testsuite name="Organization">
            <directory suffix="Test.php">./Modules/Organization/Tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:test_key_for_testing_purposes_only"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./Modules</directory>
        </include>
        <exclude>
            <directory>./Modules/*/Tests</directory>
            <directory>./Modules/*/Database</directory>
            <directory>./Modules/*/Config</directory>
            <file>./Modules/*/module.json</file>
        </exclude>
    </source>
</phpunit>
